@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-3vg5od');
	src:url('/fonts/icomoon.eot?#iefix-3vg5od') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-3vg5od') format('woff'),
		url('/fonts/icomoon.ttf?-3vg5od') format('truetype'),
		url('/fonts/icomoon.svg?-3vg5od#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\74";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-linkedin:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e601";
}
.icon-googleplus:before {
	content: "\e603";
}
