
/*homepage*/

.homepage #lets-go {
  height: 400px;

}

#lets-go {
  background-image: url(../images/Contented-Strategy-Background-1.jpg);
  position: relative;
  height: 300px;

}

.red-with-spots {
  position: absolute;
  left: 0;
  top: 0;
}

#lets-go .row .medium-7.large-6.columns {
  padding-top: 130px;
}


#lets-go .row .medium-5.large-6.columns {
  padding-top: 50px;
}

#about-me {
  padding-top: 40px;
}


#grow-your-business {
  padding-top: 50px;

}

#free-content-strategy-guide {
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(201,209,211);
}


#my-projects {
  padding-top: 50px;



}

.down_arrow {
  max-height: 30px;
  margin: auto;
}

.across_arrow {
  max-height: 12px;
}

.number-1-dot, .number-2-dot, .number-3-dot, .number-4-dot {
  max-height: 30px;
  margin-right: 10px;
}


#sendowl {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(247,247,247);
}


#how-i-work {
  background-color: rgb(247,247,247);
}

.sendowl-with-champagne {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


#artios {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(201,209,211)
}

.Xoomworks-BI-screenshot {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


#artios .button {
  margin-top: 2rem;
}

#blog_section {
  padding-top: 70px;
  padding-bottom: 70px;
}

#blog_section h3 {
  padding-bottom: 20px;
}



#hire-me-section {
  background-image: url(../images/Contented-Strategy-Background-1.jpg);
  position: relative;
  height: 300px;

}


#hire-me-section .small-12.medium-8.medium-centered.large-8.large-centered.columns {
  padding-top: 100px;
}


#hire-me-section .small-12.medium-8.medium-centered.large-8.large-centered.columns p, #hire-me-section .small-12.medium-8.medium-centered.large-8.large-centered.columns h3 {

color: white;

}

#ongoing-content-strategy-support .button {
  margin-top: 20px;
}


/*landing pages*/


#drive-sales-quote, #redesign-quote {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(247,247,247)
}

.tick {
  max-height: 30px;
  margin-right: 1rem;
}

#drive-sales-key-benefits-1 h3, #redesign-key-benefits-1 h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

#drive-sales-how-i-work h3, #redesign-how-i-work h3 {
  margin-top: 30px;
  margin-bottom: 20px;

}


