

body {
	text-align: center;
	font-family: "museo-sans",sans-serif;
	font-size: 18px;
	font-weight:300;
}
p {
	line-height: 1.5em;
}
h1
{
	margin: 0;
}
h2 {
	display: block;
	line-height: 1em;
}
.navigation
{
	background-color: rgb(153,24,24);
	padding: 1% 1%;
	margin: 0;
}
.navigation li {
	display: inline;
	list-style: none;
	margin-right: 2.5em;
}
.navigation li a {
	text-decoration: none;
	color: rgb(247,247,247);
	opacity: 0.9;
}
.navigation li a:hover {
	color:rgb(247,247,247);
	opacity: 1;
}
.landing_page h1 {
	padding: 12.5% 20%;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgb (17, 17, 17);
	font-size: 2.25em;
	font-weight: 500;
	color: rgb(247,247,247);
	background-color: rgb(153,24,24);
}
.journey {
	padding: 5% 10%;
	background-color: rgb(247,247,247); 
	font-size: 18px;
	line-height: 24px;
}


/* clearfix */
  
.group:before,
.group:after {
  content: "";
  display: table;
}





.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.journey p {
	text-align: left;
}
.journey_center {
	width: 60%;
	margin: 0 auto;
}	
.your_problem_copy {
	color: rgb(153,24,24);
}
.your_problem_list li {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.where_you_want_to_be_copy {
	margin-top: 0;
}
.great_content_copy {
	margin-bottom: 28px;
}
.journey_center p a, .journey_analytics p a {
	color: black;
}
.journey_center p a:hover, .journey_analytics p a:hover {
	color:rgb(153,24,24);
}
.journey_analysis, .journey_analytics, .journey_strategy, .journey_implementation {
	clear: both;
}
.journey_analysis, .journey_strategy {
	width: 40%;
	float: right;
	padding: 6% 0 0 0;
}
.journey_analytics p, .journey_implementation p, .journey_analysis p, .journey_analysis h2 {	
	position: relative;
	z-index: 1;
	}
.journey_analysis p, .journey_strategy p {
	padding-left: 15px;
}	
	
.journey_analytics, .journey_implementation {
	width: 40%;
	float: left;
	padding: 6% 0 0 0;
}	
.my_projects {
	padding: 5% 10% 5% 10%;
	background-color: rgb(201,209,211);
}
.blog {
	padding: 40px 5% 40px 5%;
	background-color: rgb(247,247,247);
}
.blog h1 {
	margin-bottom: 30px;
}
.hire_me {
	padding: 5% 10% 5% 10%;
	background-color: rgb(153,24,24);
	color: rgb(247,247,247);
}
.my_projects h2, .blog h2, .hire_me h2 {
	margin-bottom: 1.5em
}
a.button_hire_me {
	background-color:rgb(247,247,247);
	color: black;
	display: block;
	width: 35%;
	margin: auto;
	padding: 12px 1%;
	margin-top: 32px;
	font-weight: 500;	
}
.hire_me p a {
	text-decoration: underline;
	opacity: 0.9;
}
.hire_me p a:hover {
	color: rgb(247,247,247);
	opacity: 1;
}
a.button_find_out_more {
	background-color:rgb(153,24,24);
	display: block;
	width: 70%;
	margin: auto;
	padding: 12px 4%;
	margin-top: 32px;
	margin-bottom: 32px;
	text-decoration: none;
	color: rgb(205,148,148);
}
a.button_find_out_more:hover {
	color: rgb(247,247,247);
}
a.button_return_to_top {
	background-color:rgb(247,247,247);
	color: black;
	display: block;
	width: 35%;
	margin: auto;
	padding: 12px 1%;
	margin-top: 32px;
	text-decoration: none;
	font-weight: 500;
}
.hire_me a {
	text-decoration: none;
	color: rgb(247,247,247);
}
.blog a {
	text-decoration: none;
	color: black;
}
.blog h1 {
	font-size: 32px;
}
.blog h3, .blog h4 {
	text-align: left;
}
.blog h3 {
	margin-top: 40px;
}
.blog p {
	line-height: 1.5em;
}
.blog p img {
	width: 100%;
}
.blog p img.Vimcasts_redesign_homepage_mobile_short_version, .blog p img.Vimcasts_category_page_mobile {
	width: 50%;
}
.blog ol li {
	text-align: left;
	margin-bottom: 10px;
}
.blog ul li {
	text-align: left;
}
section.blog.group article {
	max-width: 50em;
	margin: auto;
}
section.blog.group article p, section.blog.group article li {
	font-size: 20px;
}
section.blog.group h1 {
	text-align: left;
}
table th {
	text-align: left;
	padding-right: 1.5em;
}
#blog_section.blog {
	padding: 5% 10% 5% 10%;
}
h2.blog_post_title {
	text-align: left;
	margin-bottom: 20px;
}
#free_content_strategy_guide_text {
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
}
h1.free_content_strategy_guide_text_header {
	padding-top: 1em;
}
body.get_access div#convert_kit_form {
	padding-bottom: 3em;
}
body.get_access .introduction_to_content_strategy_guide {
	font-size: 1.3em;
	font-weight: 400;
}

#comments {
    float: left;
    width: 100%;
	margin-top: 50px;
}

.my_projects a {
	text-decoration: none;
	color: black;
}
.my_projects p a {
	text-decoration: underline;
}
.my_projects a:hover {
	color: rgb(153,24,24);
}
a.button_return_to_top {
	color: black;
}
.hire_me p a:hover {
	color: rgb(247,247,247)
}
.blog a:hover, .my_projects a:hover, .hire_me a.button_return_to_top:hover {
	color: rgb(153,24,24) ;
}
.posts li {
	list-style: none;
}
.posts {
	text-align: left;
}
.posts a {
	text-decoration: underline;
}
.post a {
	text-decoration: underline;
}
.my_projects p, .post p {
	text-align: left;
}
img {
	display: block;
	width: 50%;
	padding: 40px 0;
} 
.first_website img {
	height: 300px;
}
.sketch_content_website img {
	height: 600px;
}
.navigation li span {
	color: rgb(247,247,247);
	opacity: 0.6;
}

.journey-bullet { position: relative;}
/*#bullet-1 { right: 250px; }
#bullet-2 { left: 200px; }
#bullet-3 { right: 200px; }
#bullet-4 { left: 200px; }
*/

svg._jsPlumb_connector path{
border-radius: 100%;
stroke: rgb(201,209,211);
stroke-dasharray: 15px, 21px;
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 5px;
}

figure {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: rgb(201,209,211);
	color: rgb(247,247,247);
	border-radius: 100%;

}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.social_buttons li {
	display: inline;
}
.social_buttons a {-
	color: rgb(247,247,247);
	opacity: 0.8;
}
.social_buttons a:hover {
	color: rgb(247,247,247);
	opacity: 1.0;
}
.social_buttons {
	font-size: 36px;
	list-style: none;
	padding: 0;
}
a.button_return_to_top, a.button_hire_me, a.button_find_out_more {
	border-radius: 5px;
}
.ck_embed_form {
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
}
#convert_kit_form {
	float: left;
	width: 100%;
}
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

/*media query for serving smaller viewports*/

@media screen and (max-width: 700px) {

	body {
		font-size: 16px;
		line-height: 20px;
	}
	.your_problem_list {
		font-size: 16px;
		line-height: 20px;
	}

	.journey p {
		font-size: 16px;
		line-height: 20px;
	}
	.journey_center, .journey_analysis, .journey_analytics, .journey_strategy, .journey_implementation {
		width: inherit;
	}

	.landing_page h1 {
		font-size: 1.5em;
		padding: 18% 15%;
	}
	h1 {
		line-height: 26px;
	}

	h2 {
		font-size: 18px;
	}

	.blog, .my_projects, .hire_me, .journey {
		padding: 6% 4%;
		width: inherit;
	}
	.your_problem_1, .your_problem_2, .your_problem_3 {
		width: inherit;
	}
	ul.posts {
		padding-left: 0;
		padding-right: 0;
	}

	.journey_analysis p, .journey_strategy p {
		padding-left: 0;
	}

	a.button_hire_me, a.button_find_out_more, a.button_return_to_top {
		width: 90%;
	}

	.my_projects h2, .blog h2, .hire_me h2, .journey_center h2 {
		margin-top: 8px;
	}	
	.blog h1{
		font-size: 20px;
	}

	/*media query for serving mid-size viewports*/




/*	#convert_kit_form .ck_horizontal_subscription_form {
		width: 90%;
	}
	#convert_kit_form .ck_horizontal_subscription_form .ck_embed_form_content {
		float: none;
		width: 100%;

	}
	#convert_kit_form .ck_horizontal_subscription_form .ck_subscribe_form{
		float: none;
		width: 100%;
	}*/

}
@media screen and (max-width: 850px) and (min-width: 701px) {
		.journey_center {
		width: 80%;	
	}
	.journey_analytics, .journey_implementation, .journey_analysis, .journey_strategy {
		width: 60%;
	}

}
@media screen and (max-width: 480px) {
	li.content_strategy_nav {
		display: none;
	}
	.navigation li {
		margin-right: 1em;	
	}
	.navigation {
		font-size: 14px;
		padding: 1% 1%;
	}
	.my_projects h2, .blog h2, .hire_me h2 {
		margin-top: 20px;
	}	
}
@media screen and (max-width: 570px) {
	h1.blog {
		display: none;
	}
}

@media print {
	.addthis_toolbox, .hire_me {
		display: none;
			}
	#convert_kit_form, #comments, #page_navigation {
		display: none;
	}	
}



a.previous, a.next {
	background-color:rgb(153,24,24);
	color: rgb(205,148,148);
	width: 2em;
	padding: 12px 3%;
	margin-top: 10px;
	border-radius: 5px;
	margin-left: 0.5em;
}
span.previous, span.next {
	background-color:rgb(247,247,247);
	color: black;
	width: 2em;
	padding: 12px 3%;
	margin-top: 10px;
	border-radius: 5px;
	margin-left: 0.5em;
	border: 1px solid rgb(205,148,148);
}
a:hover.previous, a:hover.next, a:hover.button_see_more_posts  {
	color:rgb(247,247,247);
	}
.pagination {
	margin-top: 2em;
}
a.button_see_more_posts {
	background-color:rgb(153,24,24);
	color: rgb(205,148,148);
	width: 2em;
	padding: 12px 3%;
	margin-top: 10px;
	border-radius: 5px;
	margin-top: 2em;
}

