---
layout: default
title: Content Strategy for Solopreneurs, Startups, Charities and Growing Businesses. The Essential Guide.
---


 

      <section id="value-proposition-book">
          <div class="row">
      <div class="medium-10 medium-offset-1 large-6 large-offset-0 columns">
          <h2>Content strategy for solopreneurs, startups, charities and growing businesses</h2>  
          <h4>Your content matters – probably more than you think</h4>
          <ul>
            <li>Effectively targeted content will get customers interested in your product, guide them towards a buying decision and keep them engaged even after they’ve made their first purchase</li>
            <li>Strategic, quality content has a high search engine optimisation (SEO) value as search engines reward quality content and penalise poor quality content, helping you to gain more quality organic traffic.</li>
            <li>Creating useful usable content is a powerful way to gain a competitive advantage over your competitors without spending a fortune.</li>
          </ul> 
          </div>
      

          <div class="small-8 small-centered large-uncentered large-6 columns text-center">
            <img class="cover-image" src="/images/3d-book-cover-James-no-white-medium.png" alt="cover image of ebook">
          </div>
          </div>

    </div>

    <div class="medium-offset-3 large-offset-2 columns">
        <img class="dotted-line-left-right show-for-large-up" src="/images/dotted-line-2.png">
        </div>

        <div class="medium-offset-4 large-offset-8 columns">

    {% include mailchimp-signup-form-book-landing-page.html %}




    </div>

      </section>


    <section id="testimonails-book-landing-page">
      <div class="row">
          <div class="small-12 columns">
            <h3>Why should you buy this book? Strategic content drives profit.</h3>
          </div>
          <div class="small-12 medium-6 columns">
            <blockquote>
            A triumphant book on how content can (and should) make a positive change in your business. Hannah understands that time is precious but that strategic content drives profits. This is like a cheatsheet to understanding why you should focus on content for your growing business. Copywriting and conversion optimisation are key tenets in this book - Hannah's instructional writing has made a measurable impact on driving revenue.
            </blockquote>
            <p>Charlie Irish, entrepreneur and consultant</p>
           </div> 

           <div class="small-12 medium-6 columns"> 
            <blockquote>
            I run a campaign to memorialise the philosopher Mary Wollstonecraft. We've got a stellar list of supporters and patrons, and a dazzling team of volunteers. But the whole thing was let down by a dated and confusing old website. I knew it wasn't good enough but wasn't exactly sure why, or what to do about it. Hannah's approach was hurricane-like: she dismantled the entire experience and rethought it from scratch. She refocussed our purpose and added clarity, style and precision. I'm overjoyed with the results. Read this book and see your web presence with completely new eyes! 
            </blockquote>
            <p>Bee Rowlatt, Mary on the Green campaign</p>
            
            </div>
          </div>
        </div>
      </section>  


      <section id="what-can-you-expect-book-landing-page">
      <div class="row">
         <div class="small-12 columns">
         <h3>What can you expect from this book? Answers to 12 common business challenges</h3>
  
         <ul class="small-block-grid-1 medium-block-grid-2">
      <li><img class="tick" src="/images/tick.png">Audience: Reach your customers and make sure they understand what you’re offering</li>
      <li><img class="tick" src="/images/tick.png">Strategy: Use content to drive growth</li>
      <li><img class="tick" src="/images/tick.png">Investment: Make the business case for content strategy</li>
      <li><img class="tick" src="/images/tick.png">Persuasion: Show people why they should buy from you (or invest in you)</li>
      <li><img class="tick" src="/images/tick.png">Engagement: Give your content a MOT to improve user engagement</li>
      <li><img class="tick" src="/images/tick.png">UI Design: Make sure users don’t get stuck on certain tasks</li>
      <li><img class="tick" src="/images/tick.png">Content marketing: Ensure your content marketing offers a good return on investment</li>
      <li><img class="tick" src="/images/tick.png">Conversion: Ensure your landing pages get people to take a desired action</li>
      <li><img class="tick" src="/images/tick.png">Cross-border content: Plan content that works in different countries</li> 
      <li><img class="tick" src="/images/tick.png">Collaboration: Encourage your team to produce useful usable content</li> 
      <li><img class="tick" src="/images/tick.png">Revision: Keep your content up-to-date and relevant</li>    
      <li><img class="tick" src="/images/tick.png">Getting Started: Plan a content strategy in four weeks</li>      


         </ul>



    </div>
    </div>
    </section>  


       <section id="who-is-this-book-for-book-landing-page">
      <div class="row">
         <div class="small-12 columns">
         <h3>Who is this book for? Anyone involved with a startup or growing business</h3>


      <ul class="small-block-grid-1 medium-block-grid-2">
          <li><img class="ceo-image" src="/images/slice-CEO-small.png" alt="icon of CEO" align="left"><h4>Founders</h4>Learn how to use content strategically to drive sales and reduce costs</li>
       
          <li><img class="solopreneur-image" src="/images/slice-solopreneur-small.png" align="left"><h4>solopreneurs</h4>Learn how you can use content to gain a competitive advantage</li>
          <li><img class="content-lead-image" src="/images/slice-content-lead-small.png" align="left"><h4>Content leads</h4>Make sure you're extracting the maximum value from the minimum amount of content </li>
          <li><img class="project-manager-image" src="/images/slice-project-manager-small.png" align="left"><h4>Project managers</h4>Prevent project creep and spiralling costs by getting content right at the start of projects</li>     
          <li><img class="technical-lead-image" src="/images/slice-technical-lead-small.png" align="left"><h4>Technical leads</h4>Appreciate how content strategy will help keep your project agile.</li>
          <li><img class="designer-image" src="/images/slice-designer-small.png" align="left"><h4>Designers and developers</h4>Make sure your excellent efforts aren't scuppered by poor quality content.</li>

      </ul>
    </section>    


  <section id="what-is-content-strategy">
      <div class="row">
          <div class="small-12 columns">
            <h3>Isn't content just copywriting and a few images?</h3>
          </div>
          <div class="small-12 medium-6 columns">
            <h4>No – it's much more than that!</h4>

            <p>Your content certainly includes copywriting and media assets like images, video and audio on your main site or app. However it also includes microcopy, a company intranet or wiki, an external help section, emails and newsletters, social media, print brochures and any other asset that help customers understand what you do and why they should care.</p>
          </div>

          <div class="small-12 columns medium-6 columns">
            <h4>Content strategy as the linchpin</h4> 

              <p>If you are strategically approaching content then you will inevitably find yourself thinking about the design of your site, the information architecture, the user experience, the efficiency of your processes, and much more. Content strategy is the linchpin that holds all these practises together.</p>
         
          </div>
        </div>
      </div>
    </section>  


      <section class="about-the-author">
       <div class="row">

          <div class="medium-5 medium-offset-2 large-5 large-offset-2 columns">

           <h3>About me – the author!</h3>
           <p>I'm a technologically-minded content strategist who specialises in helping startups and quick-moving companies grow their business through content. I have an MA in English from Cambridge University and a MSc (distinction) in Global Politics from the London School of Economics.</p>

          </div>

          <div class="small-10 small-centered medium-5 medium-uncentered large-5 large-uncentered columns text-center">
           <img class="pic-of-me" src="/images/Hannah-pic.png">
          </div>

        </div>
     </section>


    <section>

          <div class="row">
    <div class="small-12 small-centered medium-10 large-10 columns">

    {% include mailchimp-signup-form-book-landing-page.html %}


      </div>

    </div>
    </section>











