---
layout: default
title: Content Strategy for Startups and Growing Businesses. The Essential Guide.
---


 

      <section id="value-proposition-book">
          <div class="row">
      <div class="medium-6 columns">
          <h2>Content strategy for your startup or growing business</h2>  
          <h4>Why your content matters – probably more than you think</h4>
          <ul>
            <li>Effectively targeted content will get customers interested in your product</li>
            <li>Persuasive and helpful content guides them towards a buying decision</li>
            <li>Interesting and relevant content keeps them engaged with your product even after they’ve made their first purchase</li>
            <li>Useful and easy to understand content reduces the cost of servicing that customer</li>
          </ul> 
          <p><strong>However, many startups and growing businesses overlook the importance of content, because they are focused on other matters. And this leads to lost sales, increased costs and general frustration.</strong> Don't let that happen to you!</p>
          </div>
      

          <div class="small-8 small-centered medium-4 medium-uncentered large-6 columns text-center">
            <img class="cover-image" src="/images/ebook-cover-3d.png" alt="cover image of ebook">
          </div>
          </div>

    </div>

    <div class="medium-offset-3 large-offset-2 columns">
        <img class="dotted-line-left-right" src="/images/dotted-line-2.png">
        </div>

        <div class="medium-offset-4 large-offset-8 columns">

    {% include mailchimp-signup-form-book.html %}




    </div>

      </section>

      <section id="what-can-you-expect-book-landing-page">
      <div class="row">
         <div class="small-12 columns">
         <h3>What can you expect from this book? Answers to 9 common business challenges</h3>
  
         <ul class="small-block-grid-1 medium-block-grid-2">
      <li><img class="tick" src="/images/tick.png">Strategy: We want to grow faster and think good
              content will help</li>
      <li><img class="tick" src="/images/tick.png">Audience: We’re not sure if we’re reaching potential customers and whether they understand what we’re offering</li>
      <li><img class="tick" src="/images/tick.png">Persuasion: We want to show people why they should buy
              from us rather than someone else</li>
      <li><img class="tick" src="/images/tick.png">Engagement: We want to improve user engagement with our
              website but don’t know where to start</li>
           <li><img class="tick" src="/images/tick.png">UI Design: Our app design/website design is great but
              users are getting stuck on certain tasks</li>
                   <li><img class="tick" src="/images/tick.png">Content marketing: We want our content marketing to offer
              a better return on investment</li>
                   <li><img class="tick" src="/images/tick.png">Conversion: Our main landing pages look good but don’t
              convert well</li>
                   <li><img class="tick" src="/images/tick.png">Collaboration: We find it hard to get our team, including
              freelancers, to produce content in a consistent style – if at all</li>
                   <li><img class="tick" src="/images/tick.png">Revision: We don't want to lose customers by having
              outdated content</li>        


         </ul>



    </div>
    </div>
    </section>  


       <section id="who-is-this-book-for-book-landing-page">
      <div class="row">
         <div class="small-12 columns">
         <h3>Who is this book for? Anyone involved with a startup or growing business</h3>
  
         <ul class="small-block-grid-1 medium-block-grid-2">
      <li><img class="tick" src="/images/tick.png">CEOs: learn how to use content strategically to drive sales and reduce costs</li>
      <li><img class="tick" src="/images/tick.png">solopreneurs: learn how you can use content to gain a competitive advantage</li>
      <li><img class="tick" src="/images/tick.png">Content leads: make sure you're extracting the maximum value from the minimum amount of content </li>
      <li><img class="tick" src="/images/tick.png">Project managers: prevent project creep, seagulling and spiralling costs by getting content right at the start of projects</li>     
      <li><img class="tick" src="/images/tick.png">Technical leads: understand how thinking strategically about content will help keep your project on track, particularly in an agile environment.</li>
      <li><img class="tick" src="/images/tick.png">Designers and developers: make sure your excellent efforts aren't scuppered by poor quality content.</li>   
   


         </ul>



    </div>
    </div>
    </section>    


      <section class="about-the-author">
       <div class="row">

          <div class="medium-5 medium-offset-2 large-5 large-offset-2 columns">

           <h3>About me – the author!</h3>
           <p>I'm a technologically-minded content strategist who specialises in helping startups and quick-moving companies grow their business through content. I have an MA in English from Cambridge University and a MSc (distinction) in Global Politics from the London School of Economics.</p>

          </div>

          <div class="small-10 small-centered medium-5 medium-uncentered large-5 large-uncentered columns text-center">
           <img class="pic-of-me" src="/images/Hannah-pic.png">
          </div>

        </div>
     </section>


    <section>

          <div class="row">
    <div class="small-12 small-centered medium-10 large-10 columns">

    {% include mailchimp-signup-form-book.html %}


      </div>

    </div>
    </section>











