                    <div class="ck_embed_form ck_vertical_subscription_form">
	<div class="ck_embed_form_content">
	  	<h3 class="ck_embed_form_title">Free content strategy guide</h3>
	  	<div class="ck_embed_description">
		  	<span class="ck_image">
		  	  <img alt="Content-strategy-book-cover" src="https://s3.amazonaws.com/convertkit/subscription_forms/images/004/811/710/standard/content-strategy-book-cover.png?1389289698" />
		  	</span>
	  	  	<p>This guide will teach you how to begin to create a great content strategy. </p>

<p>Sign up for my free email course to learn more.</p>

<p></p>
	  	</div>
	</div>  	
  <div id='ck_success_msg' class='fade' style='display:none;'>
    <p>Thanks! Now check your email.</p>
  </div>
  	<!--  Form starts here	-->
  	<form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/414/subscribe" data-remote="true">
  	  <input type="hidden" name="id" value="414" id="landing_page_id"/>
  	  <p class="ck_errorArea"></p>
  		<div class="ck_control_group">
  			<label class="ck_label" for="ck_firstNameField">First Name</label>
  			<input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField" required />
  		</div>	
  		<div class="ck_control_group">
  			<label class="ck_label" for="ck_emailField">Email Address</label>
          <input type="email" name="email" class="ck_email_address" id="ck_emailField" required />
  		</div>
      <label class='ck_checkbox' style=''>
			  <input class="optIn ck_course_opted" name='course_opted' type="checkbox" id="optIn" checked />
			  I'd like to receive a free 30 day course by email.
			</label>

  		<button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button'>
  			Send me the free guide
  		</button>
  		<span class="ck_guarantee">We won't send you spam. Unsubscribe at any time.</span>
  	</form>
  </div>
<script src="https://app.convertkit.com/assets/CKJS4.js?v=5"></script>
