<section id="free-content-strategy-guide">
  <form action="//contentedstrategy.us10.list-manage.com/subscribe/post?u=2e766633f0affbd2d95979fd8&amp;id=75ff609e0e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <div class="row">
      <div class="small-12 medium-9 medium-centered columns">

       <h3>Sign up to my monthly mailing list</h3> 
       <p>Get helpful tips and practical advice about how to turn your content into a competitive advantage – delivered straight to your inbox.</p>

        <div class="row collapse">
            <div class="small-8 columns">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@example.com" required>               
                </div>
                 <div class="small-4 columns">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
                </div>
              </div>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_2e766633f0affbd2d95979fd8_75ff609e0e" tabindex="-1" value=""></div>
            </div>
          </div>
      </form> 

 </section>  