<section id="content-strategy-ebook">

  <form action="//contentedstrategy.us10.list-manage.com/subscribe/post?u=2e766633f0affbd2d95979fd8&amp;id=ca8d73f38e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


    <div class="row">
      <div class="small-12 medium-9 medium-centered columns">

       <h4>Content Startegy for Solopreneurs, Startups and Growing Businesses – get on the waiting list!</h4> 
       <p>Sign up today and I'll email you with launch information about the book – and a discount coupon.</p>


        <div class="row collapse">
            <div class="small-8 columns">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@example.com" required>               
                </div>
                 <div class="small-4 columns">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
                </div>
              </div>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_2e766633f0affbd2d95979fd8_75ff609e0e" tabindex="-1" value=""></div>
            </div>
          </div>

      </form> 

 </section>