<!doctype html>
<html>
  <head>
    <title>Content Strategy: Turn your content into a competitive advantage</title>
    <meta charset="utf-8"/>
    <meta name="google-site-verification" content="uRw7I-J9M1bd_N9iaJJ4MMBUoGdO1cv4s3ULs9Lz-Kc" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="{{page.metadescription}}">
    <meta name="google-site-verification" content="AjJc25kP6qWBIes2qlMwsmOjz5NzoGa_cPREnV2z9b0" />

    <link rel="stylesheet" href="/asset/app.css" />
    <link rel="stylesheet" href="/css/my.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link href="/feed.xml" rel="alternate" title="Contented Strategy Blog" type="application/atom+xml"/>
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/hij2ruv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <img src="/path/to/image1x.jpg" srcset="/path/to/image1x.jpg 1x, /path/to/image2x.jpg 2x" alt="Alt description">



  </head>
  <body class="{{page.body_class}}">




<div class="sticky nav-container">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Contented Strategy</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    <li class="divider"></li>
      <li><a href="/blog/">Blog</a></li>
      <li class="divider"></li>
      <li><a href="/content-strategy-portfolio.html">Portfolio</a></li>
      <li class= "active has-dropdown">
      <a href="/all-content-strategy-services.html">How I can help you</a>
        <ul class="dropdown">
          <li><a href="/use-content-strategy-to-drive-sales.html">Use content to drive sales</a></li>
          <li><a href="/make-redesigns-work-for-your-site-visitors.html">Create user-focused websites</a></li>
          <li><a href="/try-out-content-strategy.html">Try out content strategy</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    </ul>
  </section>
</nav>
</div>




{{content}}



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script src="/js/foundation/foundation.interchange.js"></script>

    <script type="text/javascript">
    $(document).foundation();
    </script>



   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47270138-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body> 



