<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="//use.typekit.net/hij2ruv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    
  </head>
  <body>
  <header id="page_navigation">
    <ul class="navigation">
      <li><a href="">content strategy</a></li>
      <li><a href="">my projects</a></li>
      <li><a href="">contented blog</a></li>
      <li><a href="">hire me</a></li>
    </ul>
  </header>
  
   <section class="blog">
      <article>
      <h1>The Contented Strategy Blog</h1>

      {{ content }}
      
      </article>
   </section>   
   <section class="hire_me">
      <article>
      <h2>Hire Me</h2>
      <p>Get in touch so we can talk about what you need. I've given you a rough idea of what I can do, but we'll come up with a package that suits your company and budget.</p>
      </article>
   </section>
  </body> 



