<!doctype html>
<html>
	<head>
		<title>Content Strategy: Make your content work harder so you don't have to</title>
		<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Need help with content audits, interpreting analytics and developing a sustainable content strategy? Get in touch! Curated content turns site visitors into customers.">

    <link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link href="/feed.xml" rel="alternate" title="Contented Strategy Blog" type="application/atom+xml" />
    <script type="text/javascript" src="//use.typekit.net/hij2ruv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script type="text/javascript" src="js/js-plumb.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
  <div id="top">
  <nav class="nav">
    <ul class="navigation sticky">
      <li class="content_strategy_nav"><a href="#what_is_content_strategy_section">content strategy</a></li>
      <li><a href="#my_projects_section">my projects</a></li>
      <li><a href="#blog_section">blog</a></li>
      <li><a href="#hire_me_section">hire me</a></li>
    </ul>
  </nav>
  <header class="landing_page">
    <div class="identity">
    	<h1>Content Strategy is about making your content work harder so you don't have&nbsp;to</h1>
    </div>
  </header>
  <section class="journey group" id="what_is_content_strategy_section">
    <section class="journey_center">
      <article>
        <h2>How Content Strategy Can Help Your Business</h2>
        <p class="great_content_copy">You know that great content will help your users understand your product and get excited about it. You're pretty sure that it will make you money by turning site visitors into customers. And you know that curated content trumps more content. The only thing is you don't have the time or expertise to develop a content strategy plan in-house. This is where I come in.</p>
        <p><b>My name is <a href="http://www.linkedin.com/in/hannahadcock">Hannah Adcock</a> and I'm a content strategist</b>. I can help you with content pain points like these:</p>

      
        <ul class="your_problem_list">
          <li class="your_problem_copy"><i>We're doing a site redesign: what content should we keep and what should we bin?</i></li>
          <li class="your_problem_copy"><i>We're not turning enough site visitors into customers: why not?</i></li>
          <li class="your_problem_copy"><i>Most of our team produce content so our brand message can feel unfocused. How can we pull all our content together?</i></li>
        </ul>

         <p class="where_you_want_to_be_copy">This is how I work out where you are at the moment, where you want to be, and how we're going to get you there:</p>

      </article>
     </section>
    <section class="journey_analysis">
      <article>
        <figure id="bullet-1" class="journey-bullet _jsPlumb_endpoint_anchor_">1.</figure>
        <h2>Analysis and Auditing</h2>
        <p>I'll analyse your content – your website, social media and any publications – to see whether it's supporting your key business objectives and is user-friendly. I'll also do a content audit of your existing web material – or part of it at least. A content audit usually involves listing what content is on your site, where it is located and whether it is doing a good job.</p>
      </article>
    </section>
 
    <section class="journey_analytics">
      <article>
        <figure id="bullet-2" class="journey-bullet _jsPlumb_endpoint_anchor_">2.</figure>
        <h2>Analytics</h2>
        <p>I'll then see <a href="http://contentedstrategy.com/blog/2014/02/05/Redesigning-Vimcasts-The-Analytics-Overview.html#.UvO0_mTV9Us">how people are engaging with your site</a>. To do this, I'll use Google Analytics, KISSmetrics, Crazy Egg, Topsy – basically, whatever's most relevant and fits your budget. Are site visitors making it through your sales funnel? Is your 'buy now' button in a place that only 10% of your users ever venture?  I'll then have a think about why your users are behaving as they are. We could also do some <a href="/blog/2014/01/27/Redesigning-Vimcasts-The_User_Survey.html#.UvC9nWTV9Us">user-testing</a> at this point. What do your users think of your site? Is it easy to use? What could be better?</p>
      </article>
    </section>

    <section class="journey_strategy">
      <article>
        <figure id="bullet-3" class="journey-bullet _jsPlumb_endpoint_anchor_">3.</figure>
        <h2>Strategy</h2>
        <p>I'll produce a written report or a powerpoint presentation if you prefer. I might also run up some wireframes to show how content could be structured on key pages. Then we'll sit down over a cup of tea and develop a content strategy plan. I'll bring my suggestions to the table – and maybe some cake. You will too. Your content strategy has to be sustainable over the longer-term, which means working out who on your team will need to do what. And whether this is possible in the real world.</p>
      </article>
     </section>
      <section class="journey_implementation group" > 
      <article>
        <figure id="bullet-4" class="journey-bullet _jsPlumb_endpoint_anchor_">4.</figure>
        <h2>Implementation</h2>
        <p>Don't worry, you're nearly there! You'll start implementing your new, sustainable content strategy, but I'll still be there to help with training and questions. Congratulations! You now have content that is working for its keep. <b>But what if you don't have the time or perhaps the in-house expertise to keep curating your content?</b> In this case, I can offer a few companies a monthly content strategy service. I'll be posting more details soon, but for now get in touch and we can talk it through.</p>
        <a class="button_find_out_more" href="mailto:hannah.adcock@gmail.com">Want to know more? Get in touch here</a>
    
      </article>
     </section>
    </section> 
    <section class="my_projects" id="my_projects_section">
    	<article>
    	<h2>My Projects</h2>
    	<p>I discovered content strategy in 2013, so I'm still pretty new to the job. I'm loving it so far though. Companies so far have asked me to advise on a website redesign taking a content-first approach (my favourite approach!) as well as to wireframe new landing pages. I’ve also been asked to advise companies on how they can use content to grow their business and improve their branding. I usually write copy for these projects as well, although I don’t insist on it.</p>
    	</article>
      <img class="down_arrow" src="/images/down_arrow.png" alt="scroll down for more information">
    </section>	
      <section class="vimcasts" id="vimcasts_section">
      <article>
      <h2>Vimcasts</h2>
      <p>Drew Neil, founder of <a href="http://vimcasts.org/">Vimcasts</a>, wanted to increase people's engagement with the site by making the content easier to navigate on all devices, increase traffic to the site through a broader social media strategy, and give more visibility to training, publications and pro-screencasts. I helped with user research and interpretation of the metrics. I also wireframed key pages (for different viewports), including two new landing page, as well as edited existing copy and created new copy where necessary. I've <a href="http://contentedstrategy.com/blog/">blogged about</a> my content strategy work on Vimcasts.</p> 
     <img class="Vimcasts_new_homepage" src="/images/Vimcasts_new_homepage.png" alt="Vimcasts new homepage">
      </article>
   </section> 
    </section>  
      <section class="creative_touch group" id="creative_touch">
      <article>
      <h2>Creative Touch Beauty Studio</h2>
      <p>Like many small businesses, <a href="http://www.creativetouchbeauty.co.uk/">Creative Touch Beauty Studio</a> had an outdated website that wasn’t optimised for different viewports. I carried out some user research to test demand for online booking, vouchers and beauty tips. I then advised on the creation and maintenance of new content and wireframed key pages. I built the website using SquareSpace. As part of the project, I also advised on how the Studio could use content marketing to drive traffic to their new and improved website. </p> 
     <img class="creative_touch_mobile" src="/images/creative_touch_mobile.png" alt="Creative Touch website on a small viewport">
     <img class="creative_touch_lips" src="/images/creative_touch_lips.png" alt="Creative Touch website on a small viewport showing the products page">
      </article>
   </section> 
   <section class="blog group" id="blog_section">
    	<article>
    	<h2><a href="/blog">The Contented Strategy Blog</a></h2>

      {{ content }}

    	</article>
       <!-- <a class="button_see_more_posts" href="/blog">See more blog posts</a> -->
   </section> 	
   <section class="hire_me" id="hire_me_section">
    	<article>
    	<h2>Hire Me</h2>
    	<p>Get in touch at <a href="mailto:hannah.adcock@gmail.com">hannah.adcock@gmail.com</a> so we can talk about what you need. I've given you a rough idea of what I can do, but we'll come up with a package that suits your company and budget. </p>
      <div>
        <ul class="social_buttons">
        <li>
          <a href="http://twitter.com/smokingpun" class="icon-twitter">
            <span class="visuallyhidden">Twitter</span>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/hannahadcock" class="icon-linkedin">
            <span class="visuallyhidden">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="http://github.com/smokingpun" class="icon-github">
            <span class="visuallyhidden">GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/+HannahAdcock/posts" class="icon-googleplus">
            <span class="visuallyhidden">Googleplus</span>
          </a>
        </li>
        </ul>

      </div>
      <a class="button_return_to_top" href="/#top">Return to the top</a>
    	</article>
   </section>
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47270138-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </div>
  </body> 



