<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link href="/feed.xml" rel="alternate" title="Contented Strategy Blog" type="application/atom+xml" />
    <script type="text/javascript" src="//use.typekit.net/hij2ruv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script type="text/javascript" src="js/js-plumb.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
  <div id="top"/>
  <nav class="nav">
    <ul class="navigation sticky">
      <li class="content_strategy_nav"><a href="#what_is_content_strategy_section">content strategy</a></li>
      <li><a href="#my_projects_section">my projects</a></li>
      <li><a href="#blog_section">blog</a></li>
      <li><a href="#hire_me_section">hire me</a></li>
    </ul>
  </nav>
  <header class="landing_page">
    <div class="identity"></div>
    	<h1>Content Strategy is about making your content work harder so you don't have to</h1>
  </nav>
  <section class="journey group" id="what_is_content_strategy_section">
    <section class="journey_center">
      <article>
        <h2>How Content Strategy Can Help Your Business</h2>
        <p>You know that great content will help your users understand your product and get excited about it, as well as bumping you up the search rankings. Great! But it can be hard keeping your content under control. <!-- Sometimes it can feel as though your content is expanding so quickly that you can't keep track of what’s being published every week, let alone editing or archiving old material. --> As for optimising the content that you have: well, you don't really have time. And what should you look for? This is where I come in. <b>My name is <a href="http://www.linkedin.com/in/hannahadcock">Hannah Adcock</a> and I'm a content strategist</b>. I can help you:</p>
        <p><b>Control content</b> so it is user-focused, meaningful and future-friendly</p>
        <p><b>Save time</b> because you'll only produce content that is necessary</p>
        <p><b>Make money</b> because curated content will turn site visitors into customers</p>
        <p>How can I do this? Read on:</p>

         <!-- I can help you curate your content so that it's user-focused, meaningful and future-friendly -->. <!-- By doing so, you'll save time because you'll only produce content that is necessary. You'll make money because curated content will turn site visitors into customers. Here's what I can do:</ -->
      </article>
     </section>
    <section class="journey_analysis">
      <article>
        <figure id="bullet-1" class="journey-bullet _jsPlumb_endpoint_anchor_">1.</figure>
        <h2>Analysis and Auditing</h2>
        <p>Your problem: <i>some of our content isn't that great: we're not sure though what to keep and what to bin</i>
        <p>I'll analyse your content – your website, social media and any publications – to see whether it's supporting your key business objectives and is user-friendly. I'll also do a content audit of your existing web material – or part of it at least. A content audit usually involves listing what content is on your site, where it is located and whether it is doing a good job.</p>
      </article>
    </section>
    <section class="journey_analytics">
      <article>
        <figure id="bullet-2" class="journey-bullet _jsPlumb_endpoint_anchor_">2.</figure>
        <h2>Analytics</h2>
        <p>Your problem: <i>we're not turning enough site visitors into customers: why not?</i></p>
        <p>First, we need to see <a href="http://contentedstrategy.com/blog/2014/02/05/Redesigning-Vimcasts-The-Analytics-Overview.html#.UvO0_mTV9Us">how people are engaging with your site</a>. To do this, I'll use Google Analytics, KISSmetrics, Crazy Egg, Topsy – basically, whatever's most relevant and fits your budget. Are site visitors making it through your sales funnel? Is your 'buy now' button in a place that only 10% of your users ever venture?  I'll then have a think about why your users are behaving as they are. We could also do some <a href="/blog/2014/01/27/Redesigning-Vimcasts-The_User_Survey.html#.UvC9nWTV9Us">user-testing</a> at this point. What do your users think of your site? Is it easy to use? What could be better?</p>
      </article>
    </section>
    <section class="journey_strategy">
      <article>
        <figure id="bullet-3" class="journey-bullet _jsPlumb_endpoint_anchor_">3.</figure>
        <h2>Strategy</h2>
        <p>Your problem: <i>quite a few of us produce content so the quality varies, our brand message gets diluted and we sometimes feel like we're playing catch-up</i></p>
        <p>I'll produce a written report or a powerpoint presentation if you prefer. I might also run up some wireframes to show how content could be structured on key pages. Then we'll sit down over a cup of tea and develop a plan of action. I'll bring my suggestions to the table – and maybe some cake. You will too. Your content strategy has to be sustainable over the longer-term, which means working out who on your team will need to do what. And whether this is possible in the real world.</p>
      </article>
     </section>
     <section class="journey_implementation group" > 
      <article>
        <figure id="bullet-4" class="journey-bullet _jsPlumb_endpoint_anchor_">4.</figure>
        <h2>Implementation</h2>
        <p>Your problem: <i>we want to improve our content strategy but we don't have the time or expertise to do it all in-house</i></p>
        <p>Don't worry, you're nearly there! You'll start implementing your new, sustainable content strategy, but I'll still be there to help with training and questions. Congratulations! You now have content that is working for its keep. But what if you don't have the time or perhaps the in-house expertise to keep curating your content? In this case, I can offer a few companies a monthly content strategy service. I'll be posting more details soon, but for now get in touch and we can talk it through.</p>
        <a class="button_find_out_more" href="mailto:hannah.adcock@gmail.com">Want to know more? Get in touch here</a>
    
      </article>
     </section>
     <div id="convert_kit_form">
      {% include convert_kit_vertical_form.html %}
     </div>
    </section> 
    <section class="my_projects" id="my_projects_section">
    	<article>
    	<h2>My Projects</h2>
    	<p>Over the last ten years I’ve worked as a writer, editor, proofreader, researcher and project manager. I discovered content strategy in 2013, so I'm still pretty new to the job. I'm loving it so far though! I'm working on a few projects at the moment, including for a literary consultancy, a beauty business and a technology company. <b>You can read about my work on the popular developers' site Vimcasts on my <a href="/blog/">blog.</a></b></p>
      <h3>Learning to Code</h3>
      <p>I figured that a content strategist should be familiar with copywriting, editing, social media, project management, UX and so on. However, what I realised I didn't have – and probably should – was more of an understanding of what developers and designers were up to. <b>I've therefore learnt HTML, CSS and a small amount of Javascript</b>: you can see <a href="http://github.com/smokingpun/contentedstrategy.io">my code for this website</a> on Github. You can read about <a href="/blog//2014/01/24/What-Makes-a-Good-Content-Strategist.html">how I learnt to code</a> on my blog. You're also welcome to browse my <a href="http://hannahadcock.co.uk/portfolio">writing and research portfolio</a>.</p>
      <h3>Qualifications</h3>
      <p>I have a BA in English from Cambridge University (1999-2002; 2:1) and a MSc in Global Politics, Civil Society stream, from LSE (2012-2013; distinction). This means I'm used to thinking strategically about complicated material. It also means that <b>if you're a non-profit or government body</b> then I understanding the specific challenges you face. I'm particularly interested in how the latest civil society research, including frame theory, can help value-based organisations engage with the public.</p>
    	<a class="button_hire_me" href="mailto:hannah.adcock@gmail.com">Want me to work for you? Get in touch here</a>
    	</article>
   </section>	
   <section class="blog" id="blog_section">
    	<article>
    	<h2><a href="/blog">The Contented Strategy Blog</a></h2>

      {{ content }}

    	</article>
   </section> 	
   <section class="hire_me" id="hire_me_section">
    	<article>
    	<h2>Hire Me</h2>
    	<p><a href="mailto:hannah.adcock@gmail.com">Get in touch</a> so we can talk about what you need. I've given you a rough idea of what I can do, but we'll come up with a package that suits your company and budget.</p>
      <p><a href="mailto:hannah.adcock@gmail.com">hannah.adcock@gmail.com</a></p>
      <div>
        <ul class="social_buttons">
        <li>
          <a href="http://twitter.com/smokingpun" class="icon-twitter">
            <span class="visuallyhidden">Twitter</span>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/hannahadcock" class="icon-linkedin">
            <span class="visuallyhidden">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="http://github.com/smokingpun" class="icon-github2">
            <span class="visuallyhidden">GitHub</span>
          </a>
        </li>
        </ul>

      </div>
      <a class="button_return_to_top" href="/#top">Return to the top</a>
    	</article>
   </section>
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47270138-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body> 



