---
layout: default
body_class: homepage
---





<section id = "lets-go">
  <div class="row">
    <div class="medium-7 large-6 columns">
    <h1>Content Strategy</h1>
    <h3>Turn your content into a competitive advantage</h3>
    </div>
    <div class="medium-5 large-6 columns">
    <img class="sun-shot" src="/images/Contented-Strategy_Logo-1000px.png">
    </div>
  </div>
</section>

  
  <section id="about-me">
    <div class="row">
      <div class="medium-7 large-7 columns">
      <h3>Grow your startup or fast-moving business</h3>
      <p>I'm a technologically-minded content strategist who specialises in helping startups and quick-moving companies grow their business through content. I can help with the following scenarios
      <img class="across_arrow" src="/images/Contented-Strategy_Arrow-4-across.png">
      </p>
      </div> 
    </div>
  </section>


  <section id ="grow-your-business">
    <div class="row">
      <div class="medium-offset-6 medium-6 large-offset-6 large-6 columns">
      <h4><img class="number-1-dot" src="/images/Contented-Strategy_1.png">Use content to drive sales</h4>
      <p>High quality, relevant content is the greatest competitive advantage you can create for yourself online. This is because content attract people to your site, explains what your product is and why people should buy it, shows that you are a credible business, and builds brand loyalty. This is an ongoing process. Read more about how you can 
      <a href="/use-content-strategy-to-drive-sales.html">use content strategy to drive sales.</a>
      </p>
      </div> 
    </div>  
  </section>  


    <section id ="make-redesigns-work">
      <div class="row">
        <div class="medium-6 large-6 columns">
        <h4><img class="number-2-dot" src="/images/Contented-Strategy_2.png">Make redesigns work for your visitors</h4>
         <p>If you are considering a partial or complete website redesign I can help by identifying who your customers are, what information they need when, and what key messages you want to convey to them. This content-first approach will ensure that your website is user-friendly and tightly focused on your business goals. A beautifully designed website will convert badly if user need and content are given only minimum attention. Read more about <a href="/make-redesigns-work-for-your-site-visitors.html">how I can help you with a website redesign.</a></p>
        </div> 
       </div>  
    </section> 


    <section id="trying-out-content-strategy">
      <div class="row">
        <div class="medium-offset-6 medium-6 large-offset-6 large-6 columns">
        <h4><img class="number-3-dot" src="/images/Contented-Strategy_3.png">Try out content strategy</h4>
         <p>In an initial discovery session, we can identify what changes to your content will offer you the greatest return on investment, given your budget and resources. We can then work together to implement these changes and measure their success. Read more about how you can <a href="/try-out-content-strategy.html">try out content strategy.</a></p>
        </div> 
       </div>  
    </section> 


    <section id="ongoing-content-strategy-support">
      <div class="row">
        <div class="medium-6 large-6 columns">
        <h4><img class="number-4-dot" src="/images/Contented-Strategy_4.png">Ongoing content strategy support</h4>
         <p>I regularly work on one-off projects, particularly website redesigns. However, I offer a few companies a monthly content strategy service, if you don't have a content strategist in-house. Through a combination of remote working and face-to-face meetings, where possible, I'll be a key member of your team. Read more about <a href="/get-ongoing-content-strategy-support.html">how you can benefit from ongoing content strategy support.</a></p>
        </div> 
       </div>  


        <div class="row">
          <div class="small-12 medium-12 columns large-12 columns"> 
          <a href="/turn-your-content-into-a-competitive-advantage.html" class="button">See all content strategy services</a>
          </div>
        </div>

    </section> 






    <section id="free-content-strategy-guide">
      <form>

        <div class="row">
          <div class="small-12 medium-9 medium-centered columns">

           <h3>Free content strategy guide</h3> 
           <p>Download my content strategy for startups and SMEs and turn your content into a competitive advantage.</p>

            <div class="row collapse">
                <div class="small-8 columns">
                    <input type="text" placeholder="email@example.com" />                  
                    </div>
                     <div class="small-4 columns">
                    <input type="download" value="Download" name="download" class="button postfix"/>
                    </div>
                  </div>
                </div>
              </div>
          </form> 

     </section>  


    <section id="my-projects">
        <div class="row">
          <div class="medium-7 large-7 columns">
            <h3>My portfolio</h3> 
            <p>I work for startups, fast-moving businesses and agencies. Although I specialise in the tech sector, I have also worked on consumer product launches as well as for specialist consultancies.</p>    
                 
            </div>

            <div class= "medium-5 large-5 columns">
            <div class="panel">
            <h4>How I work</h4>
              <p>I enjoy writing in Markdown/HTML and committing to <a href="https://github.com/smokingpun">Github</a> when I'm working with tech startups. Otherwise, I tend to use GoogleDocs. I can be flexible though, and I'm happy to advise on workflow options that will streamline the content production process.</p> 

            </div>  
            </div>
          </div>
     </section> 

    <section id="sendowl">
        <div class="row">
          <div class="small-12 medium-7 columns large-7 columns">
            <h4>SendOwl</h4> 
            <p>SendOwl is an independent ecommerce platform for digital products. I've produced various content strategy deliverables such as our message architecture, user personas and various content templates to ensure that SendOwl are consistently producing compelling, branded content. I also write and edit all copy. I'm always on the look out for areas where we can achieve some 'quick wins' in terms of the website and onboarding process. We're currently working on significant user interface improvements.
            </p>
            <p>This article I wrote for Gather Content shows <a href="https://blog.gathercontent.com/sendowl-creates-surprise-delight">how we use surprise and delight</a> to grow the business.      
            </div>

            <div class="small-12 medium-5 columns large-5 columns">
            <img class="sendowl-with-champagne" src="/images/champagne.png" alt="SendOwl with champagne">
            </div>

          </div>
     </section> 


      <section id="artios">
        <div class="row">
          <div class="small-12 medium-7 columns large-7 columns">
            <h4>Artios</h4> 
            <p>Artios is a digital agency that uses maths to grow their client's businesses. I work with Artios on a consultancy basis as their director of content strategy. In terms of content, we specialise in these areas: insight and planning; branding and user research; conversion rate optimisation; copywriting and wireframing; content marketing; and future planning. Our clients include tech companies like Xoomworks, as well as innovative medical product companies like bcalm.  
            </p>    
            </div>

            <div class="small-12 medium-5 columns large-5 columns">
            <img class="Xoomworks-BI-screenshot" src="/images/Xoomworks-screenshot.png" alt="screenshot of Xoomworks BI homepage">
            </div>
          </div>

          <div class="row">
          <div class="small-12 medium-12 columns large-12 columns"> 

          <a href="#" class="button">See more portfolio examples</a>

          </div>
          </div>

     </section> 

     <section class="blog group" id="blog_section">
       <div class="row">
          <div class="small-12 medium-8 medium-centered columns large-8 large-centered columns">
                        
           <h3>The Contented Strategy Blog</h3>

          {{ content }}

          </div>
        </div>
     </section>   


      <section class="hire-me" id="hire-me-section">
       <div class="row">
          <div class="small-12 medium-8 medium-centered columns large-8 large-centered columns">
           <h3>Hire me</h3>
           <p>Get in touch at <a href="mailto:hannah.adcock@gmail.com">hannah.adcock@gmail.com</a> so we can talk about what you need. I hope I've given you some idea of what I can do, but we'll come up with a package that specifically suits your company and budget. </p>
          </div>
        </div>
     </section>







