---
layout: default
comments: false

---


<!-- <section id = "banner">
  <div class="row">
    <div class="medium-7 medium-offset-1 large-7 large-offset-1 columns">
    </div>
  </div>
</section>   -->    





  <div class="row">
    <div class="medium-9 medium-offset-1 large-9 large-offset-1 columns">

    <p class="meta">{{ page.date | date_to_string }}</p>

<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e913b762406da7"></script>

			</var>
			</script>
		</div>
   </div>


<!-- AddThis Button END -->


  
<section class="post">
  <div class="row">
    <div class="medium-9 medium-offset-1 large-9 large-offset-1 columns">

    {{ content }}

      </div>
     </div>   


        <section id="free-content-strategy-guide">

    <div class="row">
      <div class="medium-6 columns">

       <h3>Content Strategy for Solopreneurs, Startups, Charities and Growing Businesses</h3>
           <p><strong>This book will help you tackle 12 common business challenges</strong> including making sure you're reaching everyone who could be a customer, persuading people to buy from you and not a competitor, and how you can get your team to produce useful usable content. <a href="/content_strategy_for_startups.html">Read more about the ebook.</a></p>
          <h4>You'll learn</h4> 
            <ol>
                <li>How thinking strategically about your content will drive growth</li>
                <li>Practical tips on creating content strategy deliverables that will save you time and money</li>
                <li>How to create a content strategy for your company in 4 weeks</li> 
            </ol> 
        </div>   


          <div class="small-8 small-centered medium-6 medium-uncentered large-4 columns text-center">
            <img class="cover-image" src="/images/3d-cover-James-rev-no-white-small.png" alt="cover image of ebook">
          </div>
          </div>

         </div>


          <div class="row buy-now-row-homepage">
            <div class="small-12 text-center columns">
              <a href="https://transactions.sendowl.com/products/78100657/FD5ADC7C/purchase" class="button large primary" rel="nofollow">Buy ebook (PDF) - $15</a>

              <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
            </div>
          </div>

      

 </section> 



   </section> 