---
layout: default
comments: false
metadescription: Need help with content audits, interpreting analytics and developing a sustainable content strategy? Get in touch! Curated content turns site visitors into customers.

---


<section id = "lets-go">
  <div class="row">
    <div class="medium-7 medium-offset-1 large-7 large-offset-1 columns">
    <div class="value-proposition">
    <h2>The Contented Strategy Blog</h2>
    <h3 class="blog_post_title"><em>{{ page.title }}</em></h3>
    </div>
    </div>
  </div>
</section>      





  <div class="row">
    <div class="medium-9 medium-offset-1 large-9 large-offset-1 columns">

    <p class="meta">{{ page.date | date_to_string }}</p>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e913b762406da7"></script>

</var>
</script>
</div>
</div>

<!-- AddThis Button END -->










  
<section class="post">
  <div class="row">
    <div class="medium-9 medium-offset-1 large-9 large-offset-1 columns">

    {{ content }}

      </div>
     </div>   




    <section id="free-content-strategy-guide">
      <form>

        <div class="row">
          <div class="medium-8 medium-offset-1 large-8 large-offset-1 columns">

           <h3>Free content strategy guide</h3> 
           <p>Download my content strategy for startups and SMEs and turn your content into a competitive advantage.</p>

            <div class="row collapse">
                <div class="small-8 columns">
                    <input type="text" placeholder="email@example.com" />                  
                    </div>
                     <div class="small-4 columns">
                    <input type="download" value="Download" name="download" class="button postfix"/>
                    </div>
                  </div>
                </div>
              </div>
          </form> 

     </section>  

      
      
   </article>

   </section> 