---
layout: default
comments: false

---


<section id = "banner">
  <div class="row">
    <div class="medium-7 medium-offset-1 large-7 large-offset-1 columns">
    <div class="value-proposition">
    <h1 class="blog_post_title"><em>{{ page.title }}</em></h1>
    </div>
    </div>
  </div>
</section>      





  <div class="row">
    <div class="medium-9 medium-offset-1 large-9 large-offset-1 columns">

    <p class="meta">{{ page.date | date_to_string }}</p>

<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e913b762406da7"></script>

			</var>
			</script>
		</div>
   </div>


<!-- AddThis Button END -->


  
<section class="post">
  <div class="row">
    <div class="medium-9 medium-offset-1 large-9 large-offset-1 columns">

    {{ content }}

      </div>
     </div>   


 <section id="free-content-strategy-guide">

    <div class="row">
      <div class="medium-6 columns">

       <h3>Content Strategy for Startups and Growing Businesses</h3>
           <p><strong>This book will help you tackle 9 common business challenges</strong> including making sure you're reaching everyone who could be a customer, persuading people to buy from you and not a competitor, and how you can get your team to consistently produce quality content.</p>
          <h4>You'll learn</h4> 
            <ol>
                <li>How thinking strategically about your content will drive growth</li>
                <li>Practical tips on creating content strategy deliverables that will save you time and money</li>
                <li>A bonus chapter on how to create a content strategy for your company in 4 weeks</li>   
            </ol> 
        </div>   


          <div class="small-8 small-centered medium-6 medium-uncentered large-4 columns text-center">
            <img class="cover-image" src="/images/ebook-cover-3d-transparent.png" alt="cover image of ebook">
          </div>
          </div>

    </div>


{% include mailchimp-signup-form-book.html %}



   </section> 